
*{
  box-sizing: border-box;
}
html{
   
  height: 100%;
  font-family: "Roboto";
 
    
}

.game_color{
  background-color: #EEF9BF;
  z-index: 1;

}
.finished{
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(206, 227, 208,0.7);
  position:fixed;
  top:0;
  bottom: -1;
  z-index: 5;

}

.unseen{
  display:none;
}

body{
   
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
    
}

.page{
  width:100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
 
}

ul{
  width: 96%;
  height: 25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content:flex-start;
  margin-left: 34px;
}

.gameTitle{
  width: 80%;
  height: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
h1{
  color:#75B79E;
  font-size:56px;
  font-weight:700;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin-right: 34px;
    margin-bottom: 34px;
    z-index: 2;
  }

  .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1.0s ease-out;
    transform-style: preserve-3d;
    z-index: 2;
  }

  .front-face {
    transform: rotateY(180deg);
  }

  .click .front-face {
    transform: rotateY(0deg);
  }

  .click .back-face {
    transform: rotateY(180deg);
  }

  .back-face{
    transform: rotateY(0deg);
  }

  img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 24px;
    left: 10px;
  }

  .hidden{
    display:none;
  }

 
  @media (max-width:630px){
  
    h1{
      font-size:46px;
    }

    ul{
      height: 85rem;
    }
    
  }

  @media (max-width:375px){
    
    h1{
      font-size:36px;
    }

    ul{
      height: 85rem;
      width: 80%;
    }

  }
  @media (min-height:1024px){
    ul{
      height: 46rem;
    }

  }

  .button {
    height: 100px;
    width: 330px;
    border-radius: 50px;
    font-size: 28px;
    background-color: #70d3ff;
    color: #008080;
    font-weight: 700;
    position: relative;
  }

 
  